<nav role="navigation" class="navbar">
<div id="menuToggle">
  <input type="checkbox" />

  <span></span>
  <span></span>
  <span></span>

  <ul id="menu">
    <a href="/"><li>Salud</li></a>
    <a href="/topology"><li>Visualizador</li></a>
    <a href="/stats"><li>Estadisticas</li></a>
    <a href="/starter"><li>Inicializador</li></a>
    <a href="/access"><li>Acceso</li></a>
    <a href="/topologyMaker"><li>Crear topologia</li></a>
    <a style= "display: flex;" href="https://localhost:8080/" target="_blank"><li>Pagina local</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
  </ul>
</div>
<form class="form-inline">
  <button class="btn-outline-success" type="button" onclick="location.href = '/';">VSoRC</button>
</form>
</nav>
