<nav role="navigation" class="navbar">
<div id="menuToggle">
  <input type="checkbox" />

  <span></span>
  <span></span>
  <span></span>

  <ul id="menu">
    <a href="/health"><li>Health</li></a>
    <a href="/topology"><li>View topology</li></a>
    <a href="/stats"><li>Flow Tables</li></a>
    <a href="/"><li>Topology Starter</li></a>
    <a href="/access"><li>Documentation</li></a>
    <a style= "display: flex;" href="https://github.com/josuer08/VSoRC" target="_blank"><li>GitHub web</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>
    <a style= "display: flex;" href="https://github.com/josuer08/vsorcdistro" target="_blank"><li>GitHub distro</li> <img id="ctl00_XXX" src="https://upload.wikimedia.org/wikipedia/commons/4/44/Icon_External_Link.svg" style="width:0.8em; height:0.8em; border-width:0px;" /></a>

  </ul>
</div>
<form class="form-inline">
  <button class="btn-outline-success" type="button" onclick="location.href = '/';">VSoRC</button>
</form>
</nav>
