<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <%include ../../partials/head%>
  <style media="screen">
    .Terminal::after{
      content: "-|+|x";
      color: white;
      position: relative;
      left: calc(100% - 60px);
      font-size: 1.5em;
      font-weight: bolder;
      background-color: grey;
    }
    .Terminal{
      background-color: black;
      color: white;
    }
  </style>
</head>

<body>
  <header>
    <%include ../../partials/header%>
  </header>
  <div class="Terminal">
    <h4>Topologia para practica de Routing</h4>
    <img id="imgtoporouting" src="img/toporouting.png">
    <p>
      Esta practica consiste en crear una topologia como la mostrada en esta imagen, asi como las
      direcciones IP de los hosts y enrutamiento estatico, de modo que exista conectividad entre las redes de h1 y h2 como de h3 y h2,
      pero no de las redes de h1 a h3.
      Para esto, utiliza la API rest_router del controlador RYU.
    </p>
  </div>
</body>
<footer>
  <%include ../../partials/footer%>
</footer>


</html>
