<!DOCTYPE html>
<html>

<head>
  <title></title>
  <!-- <link rel="stylesheet" type="text/css" href="/styles/main.css" /> -->
  <%include ../../partials/head%>
  <style media="screen">
    body{
      display: flex;
      flex-flow: row wrap;
    }
    main{
      flex-grow: 2;
    }
    aside{
      flex-grow: 1;
    }
    footer{
      position: absolute;
      top: 100%;
    }

    input[type="text"]{
      background-color: rgba(200,200,200,0.5);
      border: 0;
      border-bottom: 2px black solid;
      overflow: hidden;
      width: 15em;
    }
    button{
      border: 0;
      border-bottom: 2px black solid;
      overflow: hidden;
      width: 15em;
      background-color: white;
    }
  </style>
</head>
<header>
  <%include ../../partials/header%>
</header>
<body>

  <main>
      <button type="button" name="button" onclick="startcontroller()">Iniciar controlador</button>
      <button type="button" name="button" onclick="stopcontroller()">Detener controlador</button>
      <button type="button" name="button" onclick="startvsorc()">Iniciar VsoRc</button>
      <button type="button" name="button" onclick="stopvsorc()">Detener VsoRc</button>
    <script type="text/javascript">

    function stopcontroller() {
      let xhr = new XMLHttpRequest();
      xhr.open('GET', '/stopcontroller', true);
      xhr.onload = function() {
        if (xhr.status == 200) { //can use this.status instead
          //console.log(xhr.responseText);// para ver en la consola
          console.log("controller stoped");
        }
      }
      xhr.send();
    }

    function startcontroller() {
      let xhr = new XMLHttpRequest();
      xhr.open('GET', '/startcontroller', true);
      //console.log(xhr); //para ver en la consola
      xhr.onload = function() {
        if (xhr.status == 200) { //can use this.status instead

          console.log("controller started");
        }
      }
      xhr.send();
    }

      function startvsorc() {
          let xhr = new XMLHttpRequest();
          xhr.open('GET', '/startvsorc', true);
          xhr.onload = function() {
            if (xhr.status == 200) { //can use this.status instead
              //console.log(xhr.responseText);// para ver en la consola
              console.log("vsorc started");
            }
          }
          xhr.send();
        }
        function stopvsorc() {
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/stopvsorc', true);
            xhr.onload = function() {
              if (xhr.status == 200) { //can use this.status instead
                //console.log(xhr.responseText);// para ver en la consola
                console.log("vsorc stopped");
              }
            }
            xhr.send();
          }
    </script>
  </main>
  <aside class="">
    <div class="statuscontroller">

    </div>
    <div class="statusproyect">

    </div>
  </aside>
</body>
<footer>
  <%include ../../partials/footer%>
</footer>


</html>
