<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <%include ../../partials/head%>
</head>

<body>
  <header>
    <%include ../../partials/header%>
  </header>
</body>
<footer>
  <%include ../../partials/footer%>
</footer>


</html>
