<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <%include ../../partials/head%>
</head>

<body>
  <header>
    <%include ../../partials/header%>
  </header>




  <title>Topology</title>
	<link rel="stylesheet" type="text/css" href="styles\topology.css?v3">
	<script src="js/topology/jquery-3.3.1.min.js"></script>
	<script src="js/topology/d3.min.js"></script>

       <!-- <link rel="stylesheet" type="text/css" href="styles\style.css"> -->
       <link rel="stylesheet" type="text/css" href="styles\cards.css"> 
       <!-- <link rel="stylesheet" type="text/css" href="styles\table.css"> --> 
       <!-- <link rel="stylesheet" type="text/css" href="styles\menu.css"> -->
        <script src="js/topology/main.js"></script> 
         <script src="js/topology/modules.js"></script>
         <script src="js/topology/cards.js"></script> 


</head>
<body onload="generateCards.run(views, 'cards');moduleManager.loadModules(views)">
<div class="container_16">
	<div id="header" class="grid_16">
	<h1>Topology</h1>
	<button type="button" class="refresh">Refresh</button>
	</div>
	<!-- <div id="menu" class="grid_2"></div> -->
	<div id="main" class="grid_14"></div>
	<div id="cards" class="grid_14"></div>

</div>

<!-- <script src="js/topology/mainmenu.js"></script> -->
<script src="js/topology/common.js"></script>
<script src="js/topology/topology.js"></script>




</body>
<footer>
  <%include ../../partials/footer%>
</footer>


</html>
